body {
    margin: 0;
    padding: 20px;
    margin-bottom: 40px;
}

body,
body>footer,
body>nav {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

hgroup {
    padding: 20px 20px 20px 30px;
    color: #FFF;
    background-color: #E14A00;
}

h1,
h2,
h3 {
    font-family: Arial;
}

body>footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFF;
    border-top: 1px solid #E14A00;
    display: flex;
    justify-content: end;
}

body>footer>a,
body>footer>aside>a {
    padding: 0 5px;
}

body>footer>aside {
    flex: 1 1 auto;
}

body>nav {
    position: fixed;
    bottom: 38px;
    background-color: #FFF;
    border: 1px solid #E14A00;
    padding: 10px;
}

body>nav>a {
    padding: 0 5px;
}

header>div,
main>div {
    border-bottom: 2px solid #E14A00;
    border-right: 2px solid #E14A00;
    padding: 10px;
    background-color: #F7F7F7;
    margin: 10px 0;
}

a,
summary {
    color: #E14A00;
}

a,
details>summary {
    cursor: pointer;
    text-decoration: underline;
}

a:hover,
main>div summary:hover {
    text-decoration: none;
}

article {
    margin: 20px 0;
}

article>div {
    display: flex;
    flex-wrap: wrap;
}

article>div>details {
    width: 65%;
}

article>div>header {
    display: flex;
    width: 35%;
    padding-bottom: 10px;
}

article>div>header>time {
    width: 50%;
}

h4 {
    margin: 0;
}

@media (max-width:600px) {

    article>div>header,
    article>div>details {
        width: 100%;
    }
}

details>summary~* {
    display: none;
}

details[open]>summary~* {
    display: inherit;
}

.hidden {
    display: none;
}

@media print {

    header>div,
    main>div {
        background: none;
    }

    a,
    main summary {
        color: #000;
        text-decoration: none;
    }

    details>summary~* {
        display: inherit;
    }

    body>footer {
        position: static;
    }

    body>nav,
    body>footer>aside {
        display: none;
    }
}