body {
    margin: 0;
    padding: 20px;
    margin-bottom: 40px;
}

body,
footer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

hgroup {
    background-color: #FF5411;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: Arial;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #FFF;
    padding: 10px;
    right: 0;
    left: 0;
}

header>section,
main>section {
    border-bottom: 2px solid #E14A00;
    border-right: 2px solid #E14A00;
    padding: 10px;
    background-color: #F7F7F7;
    margin: 10px 0;
}

a,
main>section summary {
    cursor: pointer;
    color: #E14A00;
    text-decoration: underline;
}

a:hover,
main>section summary:hover {
    text-decoration: none;
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    flex-basis: 25%;
}

dd {
    flex-basis: 75%;
    margin: 0;
    font-weight: bold;
}

@media (max-width:600px) {

    dt,
    dd {
        flex-basis: 100%;
    }
}

details>summary~* {
    display: none;
}

details[open]>summary~* {
    display: inherit;
}